<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396402162585-l8puun3ppa65t9g17kabm4t2hikk11cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396402162585-l8puun3ppa65t9g17kabm4t2hikk11cj</string>
	<key>API_KEY</key>
	<string>AIzaSyCU_QuMVTK0IAmPGSgk1ZHGKC-hlQT24OU</string>
	<key>GCM_SENDER_ID</key>
	<string>396402162585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newAge</string>
	<key>PROJECT_ID</key>
	<string>solar-85e1c</string>
	<key>STORAGE_BUCKET</key>
	<string>solar-85e1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396402162585:ios:1a52bf92c0440882d2b108</string>
</dict>
</plist>